<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Add Expense</title>
  </head> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        function addGroup(e) {
            // e.preventDefault();
            group = window.prompt('Enter group name: ')
            console.log('PROMPT WINDOW SHOWN'+group);

            const formData = new FormData();
            formData.append("groupname", group);

            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var groupid= JSON.parse(this.responseText);
                    console.log(groupid);
                    // create option using DOM
                    const newOption = document.createElement('option');
                    const optionText = document.createTextNode(groupid['groupname']);
                    newOption.appendChild(optionText);
                    newOption.setAttribute('value',groupid['groupID']); 
                    const selectDropdown = document.getElementById('group');
                    selectDropdown.appendChild(newOption);
                    console.log('GROUPID :'+ groupid['groupID']);
                }
            }
            xhttp.open("POST", "http://localhost:5000/addgroup");
            xhttp.send(formData);
        }
    </script>
    <div class="container-fluid" >
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #B2D3C2">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100" style="color:black">
                    <p class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline" style="color:black; font-weight: bold;">Personal Expense Tracker</span>
                        <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/personalexpensetrackercapd/piggybank.png" style="width:50px;height: 50px;">
                    </p>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item mt-2">
                            <a href="dashboard" class="nav-link align-middle px-0" style="color:black;">
                               <span class="ms-1 d-none d-sm-inline">Home</span><img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/personalexpensetrackercapd/house-outline.svg" style="width:20px;height:20px;margin-left: 5px;">
                            </a>
                        </li>
                        <li class="nav-item mt-2" style="background-color:#00AD83; height: 50px; width: 150px; border-radius: 5px;" >
                            <a href="addexpense" class="nav-link px-0 align-middle" style="color:black;">
                                <span class="ms-1 d-none d-sm-inline">Add Expense</span><img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/personalexpensetrackercapd/pay-15.png" style="width:20px;height:20px;margin-left: 5px;">
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a href="modifyexpense" class="nav-link px-0 align-middle" style="color:black;">
                                <span class="ms-1 d-none d-sm-inline">Modify Expense</span><img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/personalexpensetrackercapd/edit_icon.svg" style="width:20px;height:20px;margin-left: 5px;">
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a href="analysis" class="nav-link px-0 align-middle" style="color:black;">
                                <span class="ms-1 d-none d-sm-inline">View Analysis</span><img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/personalexpensetrackercapd/graph.png" style="width:20px;height:20px;margin-left: 5px;">
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a href="rewards" class="nav-link px-0 align-middle" style="color:black;">
                                <span class="ms-1 d-none d-sm-inline">Rewards & Goals</span><img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/personalexpensetrackercapd/reward.png" style="width:20px;height:20px;margin-left: 5px;">
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a href="addcategory" class="nav-link px-0 align-middle" style="color:black;">
                                <span class="ms-1 d-none d-sm-inline">Create category</span><img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/personalexpensetrackercapd/category_add.webp" style="width:20px;height:20px;margin-left: 5px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col py-3" style="background-color:#00AD83">
                <h3 style="color:white; text-align: center;">Add expense</h3>
                <div class="container mt-3" style="width: 600px;">
                    <div class="card shadow-lg bg-white rounded">
                        <form action="/addexpense" method="POST">
                            <div class="card-header" style="text-align: center;">
                              <span style="display:inline-flex"><h4>Expense Made</h4><img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/personalexpensetrackercapd/pay-15.png" style=" margin-left:10px; width:30px; height:30px"></span>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="amountspent" class="form-label">Amount Spent: (Rs) </label>
                                    <input type="number" class="form-control" name="amountspent" id="amountspent" placeholder="100.00" required>
                                  </div>
                                  <div class="mb-3">
                                    <label for="expensecategory" class="form-label">Expense Category: </label>
                                    <select name="category" id="category" class="form-control" placeholder="Select a category">
                                        <option value="">Select a category</option>
                                        {% for cat in categories %}
                                            <option value="{{ cat[0] }}">{{ cat[1] }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                  <div class="mb-3">
                                    <label for="date" class="form-label">Date of Expense: </label>
                                    <input type="date" class="form-control" name="date" id="date" required></input>
                                  </div>
                                  <div class="mb-3">
                                    <label for="description" class="form-label">Description of Expense: </label>
                                    <input type="text" class="form-control" name="description" id="description"></input>
                                  </div>
                                  <div class="mb-3">
                                    <label for="group" class="form-label">Group(if needed): </label>
                                    <div title="New group" style="float:right" value="Create group" onclick="addGroup()">ADD GROUP</div><br/>
                                    
                                    <select name="group" id="group" class="form-control">
                                        <option value="">Select existing group</option>
                                        {% for group in groups %}
                                            <option value="{{ group[0] }}">{{ group[1] }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                            </div>
                            <div class="card-footer text-muted" style="text-align:center">
                              <button type="submit" value="submit" style="background-color:#00AD83; border-color:#00AD83; border-radius:5px;">Submit Expense</button>
                            </div>
                        </form>
                      </div>
            </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('#date').valueAsDate = new Date();
    </script>
</html>
